.contentHome {
  display: flex;
  flex-direction: column;  
  height: 86vh;
}

.contentBannerQuality {  
  background-image: url('../public/img/banner-quality/bg-banner-quality.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;    
  width: 100%;
  padding: 30px;
  height: 17vh;
}

.contentIcon {
  display: flex;
  flex-direction: row;
  align-items: center;  
  position: relative;
  
}

.contentIcon img {
  width: auto;  
  height: 9vh;
  margin: 0 20px;
}

.contentAvatars {
  background-image: url('../public/img/index/bg-home.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.contentAvatars h3 {
  color: #464646;
  padding-top: 0.8rem;
}
.containerAvatars {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  gap: 3rem;
}
.avatars {
  position: relative; 
}
.avatars button {
  height: 100%;
}

.imgAvatarGirl, .imgAvatarBoy {
  position: relative;
  width: 28vw;
  height: 62vh !important;
  background-size: cover;
  overflow: hidden;
}

.imgAvatarGirl::before,
.imgAvatarGirl::after,
.imgAvatarBoy::before,
.imgAvatarBoy::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.3s; 
}

.imgAvatarGirl::before {
  background-image: url('../public/img/index/girl-1.png');
  opacity: 1;
}

.imgAvatarGirl::after {
  background-image: url('../public/img/index/girl.png');
  opacity: 0;
}

.imgAvatarBoy::before {
  background-image: url('../public/img/index/boy-1.png');
  opacity: 1;
}

.imgAvatarBoy::after {
  background-image: url('../public/img/index/boy.png');
  opacity: 0;
}

.imgAvatarBoy:hover::before,
.imgAvatarGirl:hover::before {
  opacity: 0; 
}

.imgAvatarBoy:hover::after,
.imgAvatarGirl:hover::after {
  opacity: 1;
}