.containerStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 2rem 0;
}

.styleContent img {
    border: 8px solid var(--white);
    border-radius: 41px;    
}

.styleContent {
    display: flex;
    flex-direction: column;
}

.styleContent h1 {
    color: var(--coral);
    font-size: 1.9rem;
    text-transform: uppercase;
}

.styleContent p {
    margin-top: 5px;
}

.containerStepsStyle {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.contentStepsStyle {
    flex: 1;
    display: flex;
    align-items: stretch;    
}

.stepsStyle {
    display: flex;
    flex-direction: column;
    grid-gap: 1.1rem;
}

.containerStepsImg {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 33px; 
    overflow: hidden;
    background-color: var(--purple-light);
}

.stepContainer {
    position: relative;   
    display: flex; 
    flex-direction: column;
    margin-top: -14px;
}

.stepContainer h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--coral);
    margin: 0;
    line-height: 1;
}
  
.stepContainer span {
    position: absolute;
    top: 27px;
    left: 0;
    font-family: 'Medium-Italic';
    font-size: 1.2rem;
    color: var(--black);
}

.descriptionStep {
    display: flex;
    flex-direction: row;
    grid-gap: 1.1rem;
}

.containerYouCanAlsoUse {
    background-size: 100% 100%;
    width: 100%;
}

.containerYouCanAlsoUse {
    background-color: var(--green);     
}

.youCanAlsoUse {
    display: flex;
    flex-direction: row;
    grid-gap: 1.1rem;
}

.contentMadeWith {
    background-color: var(--coral);     
    padding: 1.5rem 2rem 2rem;
   text-align: center;
   width: 23vw;
}
.contentProductsYouCanAlsoUse {
   text-align: center;
   width: 77vw;
   padding-bottom: 8px;
}
.contentYouCanAlsoUse {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.containerYouCanAlsoUse h3 {
    color: var(--black);    
    text-transform: uppercase;
}

.contentMadeWith h3 {
    margin-bottom: 32px;
    position: relative;
    z-index: 5;
}

.contentProductsYouCanAlsoUse h3 {
    padding-top: 1.5rem;
    margin-bottom: 10px;
}

.contentMadeWith img {
    width: 12.3vw;
}